html {
    min-height: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

.mobileImg {
    display: none;
}

.card {
    background: url(images/bg-pattern-desktop.svg) no-repeat;
    background-position: 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
border-radius: 5%;
background-color: white;
width: 60%;
max-width: 1000px;
}

.img {
    width: 60%;
    height: 100%;
    transform: translateX(-10%);
}

.desktopImg {
    width: 100%;
    height: auto;
    /* transform: translateY(10%); */
    position: absolute;
    min-width: 300px;
    min-height: 250px;
}

.header {
    transform: translateX(2.5%);
}

.questions {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 3rem;
}

.arrow {
    height: 10px;
    width: 15px;
    transform: translateY(-300%);
    position: absolute;
    left: 90%;
}

p {
    max-width: 80%;
}

hr {
    border-top: 1px solid hsl(240, 5%, 91%);
    width: 90%;
    transform: translateX(-5%);
    border-left: none;
}

.accordionItem{
    float: left;
    display:inline-block;
    box-sizing: border-box;
}
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
}
.accordionItemHeading:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .accordionItemContent{
        padding: 20px;
    display:block;
    transform: scaleY(1);
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.4s ease;
        box-sizing: border-box;
    font-size: 12px;
}

.open .accordionItemHeading{
    margin:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.open .arrow {
    transform: translateY(-220%) rotate(180deg);  
}

@media (max-width: 890px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url(images/bg-pattern-mobile.svg) no-repeat center;
        background-color: white;
        background-position: 45% 5%;
        width: 90%;
        min-height: 600px;
        max-width: 325px;
    }

    .header {
        text-align: center;
    }

    .questions {
        width: 95%;
    }
    .desktopImg {
        display: none;
    }
    .mobileImg {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
        top: -10rem;
        right: -8px;
        bottom: 50%;
        min-width: 215px;
    }
    .img {
        max-height: 80px;
    }
}
